html{
    font-size: 100%;
    font-family: 'Yekan'
}
.loginbutton {
    background-color:#f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid #784c46;
    font-size: .5em;
}
.loginbutton:hover {
    background-color: #ff0000;
}

.loginform{
    background-color: rgba(37, 21, 107,.5);
    width: 300px;
}

.reza{
    color: red;
    font-size: 0.5em;
}
