*{
    box-sizing: border-box;
    outline: none !important;
    text-decoration: none !important;
    font-family: "yekan";
}
body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.form{
   background-color: lightcoral;
   color: white;
   height: fit-content;
   width: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: solid 1px #6e0f0f;
   border-radius: 10px;
   padding-bottom: 5rem;
  
}

.formtitle{
    align-items: flex-start;
    align-self: flex-start;
    font-size: 2rem;
    color: rgb(219, 255, 255);
    margin: 2rem 1rem;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.form input ,
.form label {
    margin: .5rem;
}
.form input{
    margin-right: 5rem;
    border-radius: 4px;
    border: solid 1px red;
}
hr{
    width: 70%;
}
.btn{
    background-color: #16a085;
    color:white ;
    border: none;
    border-radius: 6.5px;
    padding: .9rem 5.8rem;
}
