@font-face {
    font-family: 'Yekan'; 
    src: url('./Yekan.eot'); /*vase internet explorere chon faghat yedone mitone load kone*/
    src: url('./Yekan.eot?#iefix') format('embedded-opentype'), 
    url('./Yekan.woff2') format('woff2'), 
    url('./Yekan.woff') format('woff'), 
    url('./Yekan.otf') format('opentype'), 
    url('./Yekan.ttf') format('truetype'), 
    url('./Yekan.svg#Yekan') format('svg'); 
    font-weight: normal;
    font-style: normal;
}
